.container {
  padding: 20px 35px;
  height: calc(100% - 50px);
  margin-bottom: 300px;
}
.container h1 {
  color: rgba(22, 243, 151, 0.808);
  font-weight: 800;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #aaaaaa;
}
.wrapper {
  flex: 4;
}
.image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.totalSp {
  width: 80%;
  margin: 5px auto;
  height: 150px;
  border: 2px solid #797777;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
}
/* .frens {
  align-items: center;
  height: 100%;
} */
.frens > * {
  width: 100%;
}
.inviteButton {
  align-items: center;
  background: transparent;
  width: 30%;
  border-radius: 10px ;
  color: white;
  margin: 30px auto;
  border: 3px solid #1b7518;
  padding: 8px 15px;
}
/* .frensWrapper {
  background: red;
  align-self: flex-start  !important;
  justify-content: start;
} */
